  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav{
    background-color: #1b1b1b;
    width: 100%;
    padding: 10px;
    position: fixed;
    z-index: 12;
}

nav .menu{
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.menu .logo a{
    text-decoration: none;
    color: white;
    font-size: 35px;
    font-weight: bold;
}
.menu ul{
    display: inline-flex;
}

.menu ul li{
    list-style:none;
    margin-left: 8px;
}

.menu ul li a{
    text-decoration: none;
    color:white;
    font-size: 18px;
    font-weight: bold;
    padding: 8 15px;
    border: 5px;
    transition: all 0.3s ease;
}

.menu ul li a:hover{
    background-color: white;
    color: black;
}

.img{
    background: url(pic.jpg) no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.center{
    position: absolute;
    top: 52%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    /* background: red; */
    padding: 0 20px;
    text-align: center;
}

.center .title{
  color: black;
  font-size: 50px;
  font-weight: bold;
}

.center .btns{
    margin-top: 10;
}

.center .btns button{
    height: 50px;
    width: 170px;
    border: none;
    border-radius: 2px solid black;
    margin: 8px;
    padding: 2px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}